<h1>Team</h1>
<img src="/images/IMG_9382.JPG" alt="Vinay">
<img src="images/IMG_9280.JPG" alt="Julia">
<img src="images/IMG_8696.JPG" alt="Matt">
<img src="images/IMG_8061.JPG" alt="Alfred">
<img src="images/IMG_7707.JPG" alt="Anne Marie">
<img src="images/IMG_5954.JPG" alt="Mady">
<img src="images/IMG_5866.JPG" alt="Brian">
